/* header  */
.logo h1{
    font-weight: 800;
}


/* search field Group  */
#search-field-group{
    width: 50%;
}

/* No result alert */
.no-result{
    width: 50%;
    display: none;
}

/* See more  */
#button-seemore{
    display: none;
}

/* Phone details  */

#phone-details{
    display: none;
}

.details-card{
    background-color: rgb(238, 241, 241);
}

.card-main-features li, .card-others li{
    font-weight: 400;
    font-size: 14px;
}



/* Media query */
@media screen and (max-width: 668px) {
    #search-field-group{
        width: 75%;
    }

    .no-result{
        width: 75%;
    }
}